<div class="list-container">
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (item of cartProducts(); track item.id) {
        <tr>
          <td><img [src]="item.images" alt="{{ item.title }}" width="80" height="80" /></td>
          <td class="product-title">{{ item.title }}</td>
          <td class="price">{{ item.price | number: '1.2-2' }} $</td>
          <td>
            <div class="controls-container">
              <button (click)="decreamentQuantity(item.id)">-</button>
              <span class="quantity-display">{{ item.quantity }}</span>
              <button (click)="increamentQuantity(item.id)">+</button>
            </div>
          </td>
          <td class="total">{{ item.quantity * item.price | number: '1.2-2' }} $</td>
          <td>
            <!-- Optional: add a remove button icon here later -->
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
