.card {
  margin: 30px;
}

.descExpand {
  background: transparent;
  border: none;
}

.buy {
  display: flex;
  justify-content: space-between;
}

.available,
.last-item,
.out-of-stock {
  color: black;
  padding: 5px;
  width: fit-content;
}

.available {
  background-color: green;
}

.last-item {
  background-color: rgb(255, 230, 0);
}

.out-of-stock {
  background-color: red;
}
