<div class="container">
  <h1 id="title">Mawgood</h1>
  <app-slider></app-slider>
  <p>
    Welcome to Mawgood: Everything You Need, Exactly Where You Are In a world where shopping can
    often feel like a marathon across a dozen different tabs, Mawgood (Arabic for "Available" or
    "Found") was built on a simple promise: if you’re looking for it, it’s here. We’ve designed an
    ecosystem where you are the priority. Whether you are upgrading your home, refreshing your
    wardrobe, or simply ticking off your weekly essentials, Mawgood ensures that your search ends
    with a "Found it!" moment.
  </p>
</div>
