<div class="container">
  <div class="products_header">
    <h1>Total Price : {{ TotalPrice }}</h1>
    <app-filters
      (categoryEvent)="receiveCategory($event)"
      (textEvent)="receiveSearchText($event)"
      (minPriceEvent)="receiveMinPrice($event)"
      (maxPriceEvent)="receiveMaxPrice($event)"
    >
    </app-filters>
  </div>

  <div class="products">
    <app-products
      [chosenCategoryFilter]="chosenCategory"
      [searchByText]="searchText"
      [minPrice]="minPrice"
      [maxPrice]="maxPrice"
      (total)="receivedPrice($event)"
    ></app-products>
  </div>
</div>
