/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  padding-top: 65px;
  /* background-color: var(--background-color); */
}

/* so far random colors  */
:root {
  --primary-color: #0d6efd;
  --secondary-color: #ff4081;
  --accent-color: #ffd740;

  --background-color: #f5f5f5;
  --text-color: #333333;
  --error-color: #f44336;
}
